
.hr-settings {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .left-side, .right-side {
    width: 48%;
  }
  
  .left-side {
    display: flex;
    flex-direction: column;
  }
  
  .right-side {
    display: flex;
    flex-direction: column;
  }
  
  .left-side > div, .right-side > div {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  p {
    margin: 5px 0;
  }
  
