/* src/Components/Home.css */
.homepage {
  padding: 20px;
}

.heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.right-info, .left-info {
  width: 45%;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  margin-left: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.resume-skills-container {
  display: flex;
  justify-content: space-between;
}

.resume-section, .skills-section {
  width: 48%;
}

.create-entry-btn {
  margin-top: 10px;
}
