/* src/Components/Navbar.css */
.navbar {
  position: relative; /* Default position */
  background-color: #f8f9fa;
  border-top: 2px solid #ccc;
  padding: 10px;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: #333;
  margin-right: 20px;
  padding: 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #333;
}
